@media only screen and (max-width: 600px){
    /*.App {
        background-color: #C8D4E6;
        
    }*/
    .formulaire{
        height: 90vh;
        width:95vw ;
        margin: auto;
        margin-top: 5vw;
        box-shadow: 0px 5px 15px -7px rgba(0, 0, 0, 0.75);
        border-radius: 2vw;
      }

      
      .logo{
        height: 10vw;
      }

      .logo1{
        height: 6vw;
      }

      .paie1 .logo{
        margin-left: 30%;
        margin-top: -34%;
      }
      
      .paie{
        display: flex;
        justify-content: space-around;
      }

      .paie1{
        margin-left: 18%;
        margin-top: 3%;
      }

      .paies{
        display: flex;
        justify-content: space-around;
      }

      .paies .logo {
        margin-top: 25%;
        margin-left: -95%; 
      }
}
